In [ ]:
print("hello, world!") #function call
x = 5 #variable assignment
y = 10 #no need to declare variable

Name= "Queen"
name= "queen"
print("Name is", Name)
print("Name is", name)

hello, world!
Name is Queen
Name is queen

Indentation

In [ ]:
n=5
if n > 0:
  print( "positive integer")

positive integer

variables and datatypes

numeric types

In [ ]:
age = 20 #int
height= 5.6 #float

String types

In [ ]:
name = "Queen"
message = 'Hello World!!!'
multiline = """This is a
multiline string"""

print("name is", name)
print("message", message)

name is Queen
message Hello World!!!

boolean type

In [ ]:
is_activate = True
is_finished = False

Type Checking

In [ ]:
print(type(age))
print(type(height))
print(type(name))
print(type(Name))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

Type Converasion

In [ ]:
str_num ="919"
int_num = int(str_num)
float_num= float(str_num)

print(f" Original: {str_num} (type: {type(str_num)})")
print(f"Integer: {int_num} (type: {type(int_num)})")
print(f"Float: {float_num} (type: {type(float_num)})")

 Original: 919 (type: <class 'str'>)
Integer: 919 (type: <class 'int'>)
Float: 919.0 (type: <class 'float'>)

create variables for personal information

In [ ]:
first_name ="Queen"
last_name = "kolhar"
age = 20
height = 5.6
is_student = True

 Print formatted information

In [ ]:
print(f"name: {first_name} {last_name}")
print(f"age: {age}")
print(f"height is {height}")
print(f"Student {is_student}")

name: Queen kolhar
age: 20
height is 5.6
Student True

Type converstions

In [ ]:
age_str = str(age)
height_str= str(height)
height_int = int(height)
print(f"age as str: {age_str}")
print(f"height as str {height_str}")
print(f"height as integer {height_int}")

age as str: 20
height as str 5.6
height as integer 5

Operators and Basic operations

arithmatic Operation

In [ ]:
p = 5
q = 2
print(f"addition: {p} + {q} = {p+q}")
print(f"substraction: {p} - {q} = {p-q}")
print(f"multiflication : {p} * {q} = {p*q}")
print(f"Division: {p} / {q} = {p/q}")
print(f"Floor Division: {p} // {q} = {p//q}")
print(f"modulous: {p} % {q} = {p % q}")
print(f"Exponential: {p} ** {q} = {p ** q}")

addition: 5 + 2 = 7
substraction: 5 - 2 = 3
multiflication : 5 * 2 = 10
Division: 5 / 2 = 2.5
Floor Division: 5 // 2 = 2
modulous: 5 % 2 = 1
Exponential: 5 ** 2 = 25

Order of operations

In [ ]:
result = 2+4**2*2-1+2
print(f"2+4**5*2-1+2 = {result}")

2+4**5*2-1+2 = 35

String Comparision

In [ ]:
name1 ="Raja"
name2 ="Queen"
print(f" '{name1}' > '{name2}' : {name1 > name2}")

 'Raja' > 'Queen' : True

Logical operations

In [ ]:
x = True
y = False
print(f"{x and y}")
print(f"{x or y}")
print(f"{not y}")

False
True
True

practice example

In [ ]:
age = 20
has_license = True
result = age >=18 and has_license
print(f"can drive : {result}")

can drive : True

exercise 2: simple calculation

In [ ]:
def add(a,b):
  return a+b
def sub(a,b):
  return a-b
def mul(a,b):
  return a*b

print(f"addition : {add(10,5)}")
print(f"substrction: {sub(10,5)}")
print(f"multiplication : {mul(10,5)}")

addition : 15
substrction: 5
multiplication : 50
{'SQL', 'JavaScript'}
{'SQL', 'React', 'R', 'JavaScript', 'Python', 'p'}
{'Python', 'React'}

variable lenght arguments

In [ ]:
def var_arguments(*numbers):
  if not numbers:
    return 0
    return sum(numbers) / len(numbers)

avg1 = var_arguments(10,2,4)
print(f"average is {avg1}")

average is None

Lambda function

In [ ]:
lambda1 = lambda x , y: x if x >= y else y
print(f"maximum function is {lambda1(5,2)} ")

maximum function is 5

lambda function with built in fuctions

In [ ]:
lambda_fun = [10,25 ,30,40,50]
print(list(map(lambda x:x%2, lambda_fun)))


ages = [12,76,83,43]
adults = list(filter(lambda age:age >=18 , ages))
print(f"Adult ages: {adults}")


people = [

        {"name": "queen", "age":10},
        {"name": "rani" ,"age":18},
        {"name": "gagan", "age":16}
]

sort_people= sorted(people, key=lambda person: person["name"] )
print("people sorted by names")

for person in sort_people:
  print(f"{person['name']}: {person['age']}")


  people = [
  {"name": "Bob", "age": 30},
  {"name": "Alice", "age": 25},
  {"name": "Charlie", "age": 35}
]

sorted_people = sorted(people, key=lambda person: person["name"])
print("People sorted by name:")

for person in sorted_people:
  print(f" {person['name']}: {person['age']}")

[0, 1, 0, 0, 0]
Adult ages: [76, 83, 43]
people sorted by names
gagan: 16
queen: 10
rani: 18
People sorted by name:
 Alice: 25
 Bob: 30
 Charlie: 35

Filter and Map

In [ ]:
num =[1,2,3,4,5,6]
print(list(filter(lambda x:x % 2 == 0 , num)))

[2, 4, 6]
[1, 2, 3, 4, 5]

In [ ]:
import numpy as np

data = [10, 12, 14, 16, 18]
print(np.mean(data))

14.0